<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CefSharp.Common" version="138.0.340" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="138.0.340" targetFramework="net48" />
  <package id="chromiumembeddedframework.runtime.win-x64" version="138.0.34" targetFramework="net472" />
  <package id="chromiumembeddedframework.runtime.win-x86" version="138.0.34" targetFramework="net472" />
  <package id="Guna.UI2.WinForms" version="2.0.4.7" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.3405.78" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
</packages>